.header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  img {
    width: 210.32px;
    height: 68px;
  }
  nav {
    display: flex;
    align-items: center;
    a {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 142.6%;
      /* or 34px */

      display: flex;
      align-items: flex-end;
      text-align: right;

      color: #ff6060;
      padding-left: 57px;
    }
    .active {
      text-decoration: underline;
    }
  }
}
